@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: Lato, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.brand-name {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.brand-name .logo-text > span {
  border-bottom: dotted 2px #FFC107;
  transition: .3s;
}

.brand-name:hover .logo-text > span {
  border-bottom: dotted 2px rgba(255, 193, 7, 0);
}

.logo-text {
  vertical-align: middle;
}

.page-title {
  border-bottom: dotted 2px #FFC107;
}

.que-list h5 a {
  font-weight: bold;
}

.que-detail h5 {
  margin-top: 3rem!important;
}
.que-detail h5:first-of-type {
  margin-top: 1.5rem!important;
}

.sidebar h4 {
  text-align: center;
  font-size: 1.2rem !important;
}


.pagination > li > a
{
    background-color: white;
    color: #198754;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #157347;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > span,
.pagination > .active > a
{
    color: white;
    background-color: #157347 !Important;
    border: solid 1px #157347 !Important;
}

.pagination > .active > a:hover
{
    background-color: #198754 !Important;
    border: solid 1px #198754;
}

.monospace { font-family: Consolas, Lucida Console, monospace; }

pre code {
  margin-top: 1rem;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

/* 枠線の削除 */
.hljs-ln {
margin-bottom: 0;
border: none;
}
.hljs-ln tr, .hljs-ln td {
border: none;
}

/* 行番号 */
.hljs-ln-numbers {
font-family: inherit;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-align: center;
color: #999;
vertical-align: top;
padding-right: 10px;
width: 2rem;
min-width: 2rem;
}
.hljs-ln-code.hljs-ln-line {
padding-left: 8px;
}

@media screen and (max-width : 767px) {
  .sm-invisible {
    display: none;
  }

  .sm-ps-3 {
    padding-left: 1rem!important;
  }
}

@media screen and (min-width : 768px) {
  .md-ps-4 {
    padding-left: 1.5rem!important;
  }
  .md-pe-5 {
    padding-right: 3rem!important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin-spin infinite 20s linear;
  }
}

@keyframes spin-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
